[submodule "paper/paper-gtk-theme"]
	path = paper/paper-gtk-theme
	url = git@github.com:snwh/paper-gtk-theme.git
[submodule "paper/paper-icon-theme"]
	path = paper/paper-icon-theme
	url = git@github.com:snwh/paper-icon-theme.git
[submodule "arc/arc-theme"]
	path = arc/arc-theme
	url = git@github.com:horst3180/arc-theme.git
[submodule "arc/arc-icon-theme"]
	path = arc/arc-icon-theme
	url = git@github.com:horst3180/arc-icon-theme.git
